extends layout
block content
    container
        .row
            .col-md-6.offset-md-3
                h1.text-center.mt-5 Page Not Found
                p.text-center.mb-4 The page you are looking for does not exist.
                a.btn.btn-primary.btn-block(href="/") Go back to the homepage