extends layout
block content
    .container
        .row
            .col-md-6.offset-md-3
                h1.text-center.mt-5 Internal Server Error
                p.text-center.mb-4 Something went wrong on our end. Please try again later.
                a.btn.btn-primary.btn-block(href="/") Go back to the homepage