extends layout.pug

block content
    h1 Admin Dashboard
    p Welcome to the admin dashboard. Here you can manage various aspects of the website.

    // Add your dashboard content here
    // For example, you can display a list of users or any other relevant information