- if (typeof messages !== 'undefined' && messages.error)
    .alert.alert-danger
        each msg in messages.error
            p= msg

- if (typeof messages !== 'undefined' && messages.success)
    .alert.alert-success
        p= messages.success