<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Forget your password</title>
        <%-include('./partials/head.ejs')%>
        <link rel="stylesheet" href="/css/forget-password.css" />
    </head>
    <body>
        <main class="forget-password-card">
            <h2>Reset Password</h2>
            <form method="post" autocomplete="off" data-toggle="formcache">
                <div class="forget-password-group">
                    <input type="text" name="email" placeholder="your@email.com" autocomplete="off" focus="focus" />
                    <button type="submit">Reset Password</button>
                    <a href="/">Back to login</a>
                </div>
            </form>
        </main>
        <script defer src="/js/forget-password.js"></script>
    </body>
</html>
