<!DOCTYPE html>
<html>
    <head>
        <title>CallMate</title>

        <%-include('./partials/head.ejs')%>

        <link rel="stylesheet" href="/css/index.css" />
    </head>

    <body>
        <%- include('./flash.ejs') %>

        <header>
            <div class="logo">
                <img src="callmate-logo.png" alt="CallMate Logo" />
                <h3>CallMate</h3>
            </div>
            <h6 id="yourUserIdContainer"></h6>
        </header>

        <div id="offlineMessage" class="text-center h3">Please connect to the internet to use this website.</div>

        <div class="main">
            <div class="create-join">
                <div class="text"><div class="head">Create Meetings in one-click.</div></div>
                <button id="createroom" class="createroom-butt unselectable">Create Room</button>
                <br />
                <!-- enter code meeting -->
                <input
                    autocomplete="off"
                    type="text"
                    name="room"
                    spellcheck="false"
                    placeholder="Enter Room Code"
                    id="roomcode"
                    class="roomcode"
                />
                <br />
                <div class="row">
                    <div class="joinroom unselectable" id="joinroom">Join Room</div>
                    <a class="logout" href="/logout">Logout</a>
                </div>
            </div>
            <div class="video-cont">
                <video class="video-self" autoplay muted playsinline></video>
                <div class="settings">
                    <div class="device" id="mic"><i class="fas fa-microphone"></i></div>
                    <div class="device" id="webcam"><i class="fas fa-video"></i></div>
                </div>
            </div>
        </div>

        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <div class="d-flex">
                    <span class="d-inline-block text-start">© 2023 CallMate.</span>
                    <span class="d-inline-block ms-auto text-end">Github@nguyenhuy158</span>
                </div>
            </div>
        </footer>

        <script>
            let roomName = ''
        </script>

        <!-- Include the WebRTC adapter and socket.io library -->
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io()
        </script>
        <!-- <script defer src="/js/index.js"></script> -->
        <script defer src="/js/landing.js"></script>
        <!-- <script defer src="/js/index-chat.js"></script> -->
        <script defer src="/js/index-networkstatus.js"></script>
    </body>
</html>
