<!DOCTYPE html>
<html>
    <head>
        <title>Real-Time Caller</title>
    </head>

    <body>
        <h1>Real-Time Caller</h1>
        <h3 id="yourUserIdContainer" hidden></h3>
        <p id="errorMessageContainer"></p>

        <button id="load-active-list">Reload list</button>
        <label for="">list user active</label>
        <ul id="active-list"></ul>

        <form>
            <label for="userNameInput">Name:</label>
            <input type="text" id="userNameInput" placeholder="Enter your name" />
            <button id="submitName" type="button">Submit Name</button>
        </form>
        <p id="yourNameContainer"></p>

        <video id="localVideo" autoplay playsinline width="300" height="300"></video>
        <video id="remoteVideo" autoplay playsinline width="300" height="300"></video>

        <button id="startCall">Start Call</button>
        <button id="endCall">End Call</button>

        <!-- Include the WebRTC adapter and socket.io library -->
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
