<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset your password</title>
        <%-include('./partials/head.ejs')%>
        <link rel="stylesheet" href="/css/reset-password.css" />
    </head>
    <body>
        <main class="reset-password-card">
            <h2>Reset Password</h2>
            <form method="post" autocomplete="off" data-toggle="formcache">
                <div class="reset-password-group">
                    <input type="password" placeholder="New Password" name="password" id="password" />
                    <input
                        type="password"
                        placeholder="Confirm Password"
                        name="passwordConfirmation"
                        id="passwordConfirmation"
                    />
                    <button type="submit">Reset Password</button>
                </div>
            </form>
        </main>
        <script src="/js/reset-password.js"></script>
    </body>
</html>
