<!DOCTYPE html>
<html>

    <head>
        <title>CallMate</title>

        <%-include('./partials/head.ejs')%>

        <link rel="stylesheet" href="/css/room-call.css" />
        <script src="/js/toast.js"></script>
    </head>


    <body>
        <%- include('./flash.ejs') %>
        <!-- <header>
            <img src="/callmate-logo.png" alt="CallMate Logo">
            <h1>CallMate</h1>
            <h6 id="yourUserIdContainer"></h6>
        </header> -->
        <!-- <div class="container text-center my-4">
            <h1>CallMate</h1>
            <h6 id="yourUserIdContainer"></h6>
        </div> -->

        <div id="offlineMessage" class="text-center h3">Please connect to the internet to use this website.</div>

        <!-- Toast -->
        <div class="toast-container position-fixed top-0 end-0 p-3">
            <!-- Info Toast -->
            <!-- Success Toast -->
            <!-- Error Toast -->
        </div>

        <div id="content" class="container-fluid">
            <div class="row">
                <div class="col">
                    <!-- feature button -->
                    <div class="col-2 feature">
                        <div class="stream-management">
                            <div class="d-grid gap-2">
                                <h5 class="text-center fw-bold">Stream Management</h5>

                                <div class="btn-group" role="group" aria-label="Stream Management Actions">
                                    <button type="button" class="btn btn-primary" id="load-local-stream">Load
                                        Stream</button>
                                    <button type="button" class="btn btn-primary" id="load-active-list">Load Active
                                        Users</button>
                                </div>
                            </div>
                            <ul class="list-group" id="active-list"></ul>
                        </div>
                    </div>

                    <!-- main -->
                    <div class="col text-center" class="main">
                        <div class="row">
                            <div class="col">
                                <h3 class="localVideo">
                                    Local
                                    <p class="d-inline" id="yourLocalName"></p>
                                </h3>
                                <video id="localVideo" autoplay playsinline class="video-frame"></video>
                            </div>
                            <div class="col">
                                <h3 class="d-inline">
                                    Remote
                                    <p class="d-inline" id="yourRemoteName"></p>
                                </h3>
                                <div id="remoteVideoPlaceholder" class="video-placeholder">
                                    <p class="text-center">Waiting for remote user to join...</p>
                                </div>
                                <video id="remoteVideo" autoplay playsinline class="video-frame" hidden></video>
                                <p id="remoteText" class="text-center"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary" id="startCall">Start Call</button>
                                <button class="btn btn-warning" id="endCall">End Call</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- chat form -->
                <div class="chat-box">
                    <div class="card">
                        <div class="header">
                            <span class="title">Chat Box (*￣3￣)╭</span>
                        </div>
                        <div class="card-body">
                            <div class="chat-room">
                                <div class="message message-left">
                                    <div class="bubble bubble-light">
                                        Hey anhat!
                                    </div>
                                </div>
                                <div class="message message-right">
                                    <div class="bubble bubble-dark">
                                        what is going on?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="type-area">
                                <div class="input-group">
                                    <div class="input-wrapper">
                                        <input type="text" id="chatInput" class="form-control"
                                            placeholder="Type messages here..." autocomplete="on" />
                                    </div>
                                    <span class="button-add">
                                        <i class="fas fa-plus-circle"></i>
                                        <div class="others">
                                            <span class="emoji-button">
                                                <i class="far fa-laugh"></i>
                                                <div class="emoji-box">
                                                    <span>&#x1f604;</span>
                                                    <span>😀</span>
                                                    <span>😂</span>
                                                    <span>😭</span>
                                                    <span>😍</span>
                                                    <span>🤮</span>
                                                    <span>🤑</span>
                                                    <span>😖</span>
                                                    <span>😷</span>
                                                </div>
                                            </span>
                                            <span class="image-button">
                                                <i class="far fa-image"></i>
                                            </span>
                                            <span>
                                                <i class="fas fa-paperclip"></i>
                                            </span>
                                        </div>
                                    </span>
                                    <button id="sendButton" class="button-send input-group-append">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row text-center">
                <div class="col-1"></div>

                <div class="col"></div>

                <div class="col-3"></div>
            </div> -->
            </div>

            <footer class="footer mt-auto py-3 bg-light">
                <div class="container">
                    <div class="d-flex">
                        <span class="d-inline-block text-start">© 2023 CallMate.</span>
                        <span class="d-inline-block ms-auto text-end">Github@nguyenhuy158</span>
                    </div>
                </div>
            </footer>

            <script>
                const roomName = '<%= roomName %>'
            </script>
            <!-- Include the WebRTC adapter and socket.io library -->
            <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/js/index.js"></script>
            <script src="/js/index-chat.js"></script>
            <script src="/js/index-networkstatus.js"></script>
    </body>

</html>