
<!DOCTYPE html>
<html>
    <head>
        <title>CallMate</title>

        <%-include('./partials/head.ejs')%>

        <link rel="stylesheet" href="/css/room-call.css" />
    </head>

    
    <body>
        <%- include('./flash.ejs') %>
        <!-- <header>
            <img src="/callmate-logo.png" alt="CallMate Logo">
            <h1>CallMate</h1>
            <h6 id="yourUserIdContainer"></h6>
        </header> -->
        <!-- <div class="container text-center my-4">
            <h1>CallMate</h1>
            <h6 id="yourUserIdContainer"></h6>
        </div> -->

        <div id="offlineMessage" class="text-center h3">Please connect to the internet to use this website.</div>

        <!-- Toast -->
        <div class="toast-container position-fixed top-0 end-0 p-3">
            <!-- Info Toast -->
            <!-- Success Toast -->
            <!-- Error Toast -->
        </div>

        <div id="content" class="container-fluid">
            <div class="row">
                <div class="col">
                    <!-- feature button -->
                    <div class="col-2" class="feature">
                        <div class="d-grid gap-2">
                            <!-- <form class="text-start d-grid gap-2">
                                <input class="form-control" type="text" id="userNameInput" placeholder="Enter your name" />
                                <button class="btn btn-primary" id="submitName" type="button">Submit Name</button>
                            </form> -->

                            <!-- add select dropdown bootstrap select feature -->
                            <!-- <div class="dropdown w-100">
                                <button
                                    class="btn btn-primary dropdown-toggle w-100"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Select features
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" id="dropdownMenu">
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                    <li><a class="dropdown-item" href="#">Feature coming ...</a></li>
                                    <li><a class="dropdown-item" href="#">Feature coming ...</a></li>
                                </ul>
                            </div> -->

                            <button class="btn btn-primary" id="load-local-stream">Load stream</button>
                            <button class="btn btn-primary" id="load-active-list">Reload user active</button>
                        </div>

                        <hr />
                        <ul class="list-group" id="active-list"></ul>
                    </div>

                    <!-- main -->
                    <div class="col text-center" class="main">
                        <div class="row">
                            <div class="col">
                                <h3 class="d-inline">
                                    Local
                                    <p class="d-inline" id="yourLocalName"></p>
                                </h3>
                                <video id="localVideo" autoplay playsinline class="video-frame"></video>
                            </div>
                            <div class="col">
                                <h3 class="d-inline">
                                    Remote
                                    <p class="d-inline" id="yourRemoteName"></p>
                                </h3>
                                <video id="remoteVideo" autoplay playsinline class="video-frame"></video>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary" id="startCall">Start Call</button>
                                <button class="btn btn-darnger" id="endCall">End Call</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- chat form -->
                <div class="col-3" id="chat-form-container">
                    <div class="card">
                        <div class="card-body">
                            <div id="chatBox" class="no-scrollbar" style="height: 320px; overflow-y: scroll">
                                <!-- Chat messages will be inserted here -->
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="input-group">
                                <!-- input type message -->
                                <input
                                    type="text"
                                    id="chatInput"
                                    class="form-control"
                                    placeholder="Type a message..."
                                    autocomplete="off"
                                />
                                <!-- button send message -->
                                <button id="sendButton" class="btn btn-primary input-group-append">
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="row text-center">
                <div class="col-1"></div>

                <div class="col"></div>

                <div class="col-3"></div>
            </div>
        </div>

        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <div class="d-flex">
                    <span class="d-inline-block text-start">© 2023 CallMate.</span>
                    <span class="d-inline-block ms-auto text-end">Github@nguyenhuy158</span>
                </div>
            </div>
        </footer>

        <script>
            const roomName = '<%= roomName %>'
        </script>
        <!-- Include the WebRTC adapter and socket.io library -->
        <script defer src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <script defer src="/socket.io/socket.io.js"></script>
        <script defer src="/js/index.js"></script>
        <script defer src="/js/room-call.js"></script>
        <script defer src="/js/index-networkstatus.js"></script>
    </body>
</html>
