.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.video-frame {
    width: 350px;
    height: 250px;
    border: 1px solid #ccc;
    object-fit: cover;
    border-radius: 10px;
}
