@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

button {
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}
#content {
    height: 100%;
}

#video-container {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* -------------------- FEATURE STYLE --------------------*/
#content .row .col {
    padding: 0;
    margin: 0;
}

#content .row .col .feature {
    width: 100%;
    text-align: center;
    display: none;
}

#content .stream-management {
    background-color: seashell;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
}

#content .stream-management h5 {
    padding: 10px 0 0;
    margin: 0;
}

#content .stream-management button {
    margin: 0 5px;
    border-radius: 50px;
}

#content .stream-management .list-group {
    width: 10%;
    padding: 0;
}

/* -------------------- END FEATURE STYLE --------------------*/

/* -------------------- MAIN VIDEO STYLE --------------------*/
.container-room {
    margin: 0;
    top: 0;
    bottom: 0;
    background-color: #ecf0f1;
}

.container-room ::-webkit-scrollbar {
    width: 10px;
}

.container-room ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.container-room ::-webkit-scrollbar-thumb {
    background: #c5c5c5;
}

.container-room ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* LEFT CONTAINER */
.container-room .left-cont {
    background-color: #393e46;
    height: 100%;
    padding: 50px;
    text-align: center;
    position: relative;
}

.container-room .left-cont .video-cont .video-box {
    background-color: #353b48;
    height: 100%;
    border-radius: 5px;
    min-height: 200px;
    width: 100%;
    position: relative;

    .video-frame {
        background-color: #353b48;
        height: 100%;
        min-height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .nametag {
        color: white;
        bottom: 10px;
        position: absolute;
        left: 10px;
        bottom: 10px;
    }

    .video-off {
        color: white;
        bottom: 10px;
        position: absolute;
        font-weight: bold;
        top: 40%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .mute-icon {
        color: #d63434;
        bottom: 10px;
        position: absolute;
        right: 10px;
        font-size: 20px;
        bottom: 10px;
    }
}

.container-room .left-cont .video-cont-single {
    height: 75vh;
}

.container-room .left-cont .video-cont-single .video-box {
    background-color: #353b48;
    height: 100%;
    min-height: 200px;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.container-room .left-cont .video-cont-single .video-box .video-frame {
    background-color: #353b48;
    height: 100%;
    min-height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.container-room .left-cont .video-cont-single .video-box .nametag {
    left: 5%;
    bottom: 0;
    transform: translate(-50%, 100%);
    color: white;
    position: absolute;
}

.container-room .left-cont .video-cont-single .video-box .video-off {
    color: white;
    bottom: 10px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.container-room .left-cont .video-cont-single .video-box .mute-icon {
    color: #d63434;
    bottom: 10px;
    position: absolute;
    right: 10px;
    font-size: 20px;
    bottom: 10px;
}

.container-room .left-cont .footer {
    position: relative;
}

.container-room .left-cont .footer .utils {
    text-align: center;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    width: 260px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
}

.container-room .left-cont .footer .utils .audio {
    background-color: #4ecca3;
    text-align: center;
    color: white;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    transition: background-color 0.3s;
}

.container-room .left-cont .footer .utils .audio:hover {
    cursor: pointer;
    background-color: #393e46;
}

.container-room .left-cont .footer .utils .novideo {
    background-color: #4ecca3;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    transition: background-color 0.3s;
    text-align: center;
    margin-left: 20px;
    color: white;
    padding: 10px;
}

.container-room .left-cont .footer .utils .cutcall {
    background-color: #cc4e4e;
    text-align: center;
    margin-left: 20px;
    color: white;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    transition: background-color 0.3s;
}

.container-room .left-cont .footer .utils .cutcall:hover {
    cursor: pointer;
    background-color: #393e46;
}

.container-room .left-cont .footer .utils .novideo:hover {
    cursor: pointer;
    background-color: #393e46;
}

/* -------------------- END MAIN VIDEO STYLE --------------------*/

/* -------------------- CHAT FORM / AKA RIGHT CONTAINER--------------------*/

.container-room .chat-box {
    width: 25%;
    background-color: #ffffff;
    height: 100%;
}

.chat-box hr {
    margin: 0;
}

.card-body,
.card-footer {
    padding: 0 !important;
}

.card-body {
    height: 100%;
}

.card {
    height: 100%;
}

.chat-box {
    width: 350px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.chat-box .header {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
}

.chat-box .header .title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
}

.chat-box .chat-room {
    min-height: 100%;
    background-color: #f7f9fb;
    padding: 0px 15px;
    box-shadow: inset 0px 2px rgba(0, 0, 0, 0.2);
}

.chat-box .chat-room .message {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.chat-box .chat-room .message-left {
    align-items: flex-start;
}

.chat-box .chat-room .message-left .bubble {
    border-radius: 0 50px 50px 50px;
}

.chat-box .chat-room .message-right {
    align-items: flex-end;
}

.chat-box .chat-room .message-right .bubble {
    border-radius: 50px 0 50px 50px;
}

.chat-box .chat-room .bubble {
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
    display: inline-block;
}

.chat-box .chat-room .bubble-light {
    background-color: #fbcffc;
}

.chat-box .chat-room .bubble-dark {
    color: #fff;
    background-color: #be79df;
}

.chat-box .type-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    background-color: #f7f9fb;
    border-radius: 0 0 20px 20px;
}

.chat-box .type-area .input-wrapper {
    overflow: hidden;
    background-color: #f7f9fb;
}

.chat-box .type-area .input-wrapper input {
    outline: none;
    border: none;
    height: 100%;
    width: 255px;
    font-size: 14px;
    background-color: #f7f9fb;
}

.chat-box .type-area .button-add {
    display: flex;
    border: none;
    background: none;
    align-items: center;
    position: relative;
    margin-right: 8px;
}

.chat-box .type-area .button-add i {
    font-size: 30px;
    color: rgb(24, 112, 199);
    cursor: pointer;
}

.chat-box .type-area .button-add i:hover {
    color: #7ce8f7;
}

.chat-box .type-area .button-add .others {
    display: flex;
    padding: 10px 15px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    z-index: -1;
    right: -52px;
    border-radius: 999px;
    box-shadow: 0 0 25px -5px lightgray;
    transition: 0.3s all ease-out;
}

.chat-box .type-area .button-add .others span i {
    font-size: 20px;
    color: #be79df;
}

.chat-box .type-area .button-add .others span.image-button {
    margin: 0 25px;
}

.chat-box .type-area .button-add .others .emoji-button {
    position: relative;
}

.chat-box .type-area .button-add .others .emoji-button .emoji-box {
    display: none;
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    right: 0px;
    transition: 0.3s all ease-out;
}

.chat-box .type-area .button-add .others .emoji-button .emoji-box span {
    user-select: none;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
}

.chat-box .type-area .button-send {
    background-color: #f7f9fb;
    width: 65px;
    color: #6f74ff;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

.chat-box .type-area .button-send:hover {
    height: 100%;
    background-color: #be79df;
    color: #fff;
}

.chat-box .type-area .button-send svg {
    width: 25px;
    height: 25px;
}
/* -------------------- END CHAT FORM --------------------*/

/* .no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*/

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #000000;
    text-align: center;
    padding: 15px;
}

*/
@media (max-width: 768px) {
    .video-frame {
        width: 100%;
        height: 100%;
    }

    .container {
        padding: 10px;
    }

    #content {
        padding: 10px;
    }
}

.icon-box {
    position: relative;
    display: inline-block;
}

.icon-list {
    display: none;
    position: absolute;
    top: -300%;
    left: -50%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    border-radius: 10px;
}

.icon-list button {
    margin: 5px;
    cursor: pointer;
    border: none;
    background: none;
}

.icon-list-row {
    display: flex;
}

.pointer {
    cursor: pointer;
}
