<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<video
        autoplay
        id="localVideo"
        height="300"
        width="300"
></video>

<button id="mute-audio">Mute</button>
<button id="off-cam">Off cam</button>
<hr>
<label for="cam-op">Camera option</label>
<select name="" id="cam-op"></select>
<hr>
<label for="mic-op">Mic option</label>
<select name="" id="mic-op"></select>

<script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
<script>
    let mediaSteam;
    
    async function getMedia(cameraId, micId) {
        const init             = {
            video: true,
            audio: true
        };
        const initWithCameraId = {
            video: { deviceId: { exact: cameraId } },
            audio: true
        };
        const initWithMicId    = {
            video: true,
            audio: { deviceId: micId }
        };
        const condition        = cameraId || micId ? cameraId ? initWithCameraId : initWithMicId : init;
        mediaSteam             = await window.navigator.mediaDevices.getUserMedia(condition);
        console.log("=>(index.html:15) mediaSteam", mediaSteam);
        document.getElementById("localVideo").srcObject = mediaSteam;
        document.getElementById("localVideo")
                .addEventListener(
                        "loadedmetadata",
                        () => {
                            document.getElementById("localVideo")
                                    .play();
                        }
                );
    }
    
    let muteAudio = false;
    let offCam    = false;
    
    $("#mute-audio")
            .on("click", function () {
                mediaSteam.getAudioTracks()
                          .forEach(track => track.enabled = muteAudio);
                $(this)
                        .text(muteAudio);
                
                muteAudio = !muteAudio;
            });
    
    $("#off-cam")
            .on("click", function () {
                mediaSteam.getVideoTracks()
                          .forEach(track => track.enabled = offCam);
                $(this)
                        .text(offCam);
                
                offCam = !offCam;
            });
    
    async function getAllCamera() {
        const allDevices = await window.navigator.mediaDevices.enumerateDevices();
        console.log("=>(index.html:66) allDevices", allDevices);
        allDevices.forEach(devices => {
            if (devices.kind === "videoinput") {
                const option = $(`<option value="${devices.deviceId}">${devices.label}</option>`);
                $("#cam-op")
                        .append(option);
            }
        });
        
        $("#cam-op")
                .on("input", function () {
                    const deviceId = $(this)
                            .val();
                    console.log("=>(index.html:79) deviceId", deviceId);
                    getMedia(deviceId, undefined);
                });
    }
    
    async function getAllMic() {
        const allDevices = await window.navigator.mediaDevices.enumerateDevices();
        console.log("=>(index.html:66) allDevices", allDevices);
        allDevices.forEach(devices => {
            if (devices.kind === "audioinput") {
                const option = $(`<option value="${devices.deviceId}">${devices.label}</option>`);
                $("#mic-op")
                        .append(option);
            }
        });
        
        $("#mic-op")
                .on("input", function () {
                    const deviceId = $(this)
                            .val();
                    console.log("=>(index.html:79) deviceId", deviceId);
                    getMedia(undefined, deviceId);
                });
    }
    
    getMedia();
    getAllCamera();
    getAllMic();

</script>
</body>
</html>